.gform_wrapper ul {
    @extend .list-unstyled;
}
.gform_wrapper li {
    @extend .form-group;

    @include media (">=md", "<lg") {
      margin-bottom: .5rem;
    }
}
.gform_wrapper form {
    margin-bottom: 0;
}
.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: $state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
    @extend .form-control;
}
.ginput_container textarea {
    height: auto;
}
.gform_button {
    @extend .btn;
    @extend .btn-primary-outline;
}
.input-group {

  .input-group-btn,
    .form-control{
      display: flex;
  }
}
.gform_wrapper .gfield_error {
    .gfield_label {
        color: $state-danger-text;
    }
    .validation_message {
        color: $state-danger-text;
    }
    input,
    select,
    textarea {
        border-color: $alert-danger-border;
        background-color: $alert-danger-bg;
        color: $alert-danger-text;
        @include form-control-focus($alert-danger-text);
    }
}
.validation_error {
    @extend .alert;
    @extend .alert-danger;
}
#gforms_confirmation_message {
    @extend .alert;
    @extend .alert-success;
}
label {
  color: $gray-dark;
}
.nolabel label {
     display: none;
}
.form-row {
  @extend .form-group;

  .input-text {
     @extend .form-control;
  }
}

.form-wrapper {
    @include make-row(0);
    @include make-space($spacer*2, $grid-gutter-width);
    align-items: center;
    background-color: $brand-secondary;

    input,
    textarea {
        border-color: #ECE8DC;
        font-style: italic;
    }

    .gform_footer {
        text-align: center;
        margin-top: $grid-gutter-width;

        input[type="submit"] {
            border-color: $brand-primary;
        }
    }

    .gform_title {
        font-size: $font-size-base*1.25;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        color: $brand-primary;
        margin-bottom: $spacer;
    }

    .gform_description {
        display: block;
        margin-bottom: $spacer;
    }

    .ginput_complex {

        @include media (">=sm") {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
        }

        >span {
            display: block;
            margin-bottom: $spacer;

            @include media (">=sm") {
                margin-bottom: 0;
                flex: 1;

                & + span {
                     margin-left: $grid-gutter-width/2;
                }
            }
        }
    }

    .gform_fields {
        ul {
            padding-left: $grid-gutter-width/2;

            @include media ("<sm") {
                &:not(:last-child) {
                    margin-bottom: $spacer;
                }
            }

            @include media (">=sm") {
                &:nth-child(1) {
                    padding-right: $grid-gutter-width/4;
                }
                &:nth-child(2) {
                    padding-left: $grid-gutter-width/4;
                }
            }

            li {
                margin-bottom: 0;
            }
        }
    }

    textarea {
         height: 200px;

         &.small {
             height: 100px;
         }

         &.large {
             height: 300px;
         }
    }

    .gform_fileupload_multifile {
        overflow: hidden;
        .moxie-shim {
             top: 0 !important;
             left: 0 !important;
             width: 100% !important;
             height: 100% !important;
        }
    }

    .gform_drop_area {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border: 1px $gray-light dashed;
        padding: $grid-gutter-width $grid-gutter-width/2;

        .gform_drop_instructions,
        .gform_button_select_files {
            flex: 1;
        }

        .gform_button_select_files {
            margin-left: $grid-gutter-width/2;
        }

        .gform_drop_instructions {
             text-align: right;
        }

    }
}
